Lecture Index Page
<p>
<a href="/func_lectures/01" >Lecture One</a><br>
</p>
1.Show block of information under checkbox, and change the style <br>、
    鼠标提示框<br>
    onmouseover, onmouseout<br>
2. Show alter msg and onclick function<br>
    显示提示信息
    alter, onclick<br>
</p>
<a href="/func_lectures/02" >Lecture Two</a><br>
<p>
    1.Change background style <br>
        按钮改变背景样式<br>
        onclick<br>
    2. Show msg when click<br>
        按钮在填写框浮现字体<br>
        onclick<br>
    3. Show block when click and click one more time to hide<br>
        3.1 按钮显示隐藏div<br>
        3.2 钮改变选框颜色<br>
        if statements<br>
</p>
<a href="/func_lectures/03" >Lecture Three </a><br>
<p>
    设置功能性在JS 在用户触发某一个功能时
    1. Combine Function by set change variables<br>
    onclick<br>
</p>
<a href="/func_lectures/04" >Lecture Four </a><br>
<p>
    1. Hide the onclick function in javascript<br>
        使用循环一次在多个选框中执行动作<br>
        onclick and write onclick function in javascript not in html script<br>
    2. Select multiple Elements and performed same actions<br>
        一次性选个多个，打勾，取消，反选<br>
        document.getElementById, document.getElementsByTagName, document can be refer in any class-id<br>
</p>
<a href="/func_lectures/05" >Lecture Five </a><br>
<p>
    添加选项卡功能
    1. Combine Function by set change variables<br>
    onclick<br>
</p>
<a href="/func_lectures/06" >Lecture Six </a><br>
<a href="/func_lectures/07" >Lecture Seven </a><br>
<a href="/func_lectures/08" >Lecture Eight </a><br>
<a href="/func_lectures/09" >Lecture Nice </a><br>
<a href="/func_lectures/10" >Lecture Ten </a><br>