Lecture Index Page
<p>
<a href="/func_lectures/01" >Lecture One</a><br>
</p>
1.Show block of information under checkbox, and change the style <br>、
    提示框<br>
    onmouseover, onmouseout<br>
2. Show alter msg and onclick function<br>
    信息提示框<br>
    alter, onclick<br>
</p>
<a href="/func_lectures/02" >Lecture Two</a><br>
<p>
    1.Change background style <br>
        按钮改变背景样式<br>
        onclick<br>
    2. Show msg when click<br>
        按钮在填写框浮现字体<br>
        onclick<br>
    3. Show block when click and click one more time to hide<br>
        3.1 按钮显示隐藏div<br>
        3.2 钮改变选框颜色<br>
        if statements<br>
</p>
<a href="/func_lectures/03" >Lecture Three </a><br>
<p>
    设置功能性在JS 在用户触发某一个功能时
    1. Combine Function by set change variables<br>
    onclick<br>
</p>
<a href="/func_lectures/04" >Lecture Four </a><br>
<p>
    1. Hide the onclick function in javascript<br>
        使用循环一次在多个选框中执行动作<br>
        onclick and write onclick function in javascript not in html script<br>
    2. Select multiple Elements and performed same actions<br>
        一次性选个多个，打勾，取消，反选<br>
        document.getElementById, document.getElementsByTagName, document can be refer in any class-id<br>
    PS ： intro window.onload function<br>
</p>
<a href="/func_lectures/05" >Lecture Five </a><br>
<p>
    1. Custom add attribute<br>
    添加选项卡功能<br>
    for loop, for, this<br>
    onclick<br>
    2. Functional Calendars<br>
    简易日历<br>
    innerHTML,

</p>
<a href="/func_lectures/06" >Lecture Six </a><br>
基础 Javascript<br>
变量类型,变量作用与闭包,命名规范,运算符,程序流程控制,JSON<br><br>
<a href="/func_lectures/07" >Lecture Seven </a><br>
深入 Javascript<br>
函数返回值,函数传参(可变参),数组基础,添加删除元素,排序转换<br><br>
<a href="/func_lectures/08" >Lecture Eight </a><br>
定时器的使用：作用，时钟效果，延时提示框<br><br>
实例：数码时钟<br><br>
<a href="/func_lectures/09" >Lecture Nice </a><br>
[定时器的延申]无缝滚动<br>
效果演示，运动原理，响应键，修改速度，以及鼠标移入暂停<br><br>
<a href="/func_lectures/10" >Lecture Ten </a><br>
Dom 基础认识<br>
Dom 节点,Dom元素属性操作,className选择元素,以及封装函数<br><br>
<a href="/func_lectures/11" >Lecture Eleven </a><br>
Dom 操作应用<br>
创建Dom元素,插入元素,以及删除元素<br><br>
<a href="/func_lectures/12" >Lecture Twelve </a><br>
Dom 高级应用<br>
表格应用(获取，隔行变色，添加、删除行)，搜索，排序，(//表单基础，事件，内容验证)<br><br>
<a href="/func_lectures/13" >Lecture Thirteen </a><br>
JS 运动基础<br>
运动基础，匀速运动，运动框架<br><br>
<a href="/func_lectures/14" >Lecture Fourteen </a><br>
JS 运动基础<br>
缓冲运动<br><br>
<a href="/func_lectures/15" >Lecture Fifteen </a><br><br><br><br>
<a href="/func_lectures/16" >Lecture Sixteen </a><br><br><br><br>
<a href="/func_lectures/17" >Lecture Seventeen </a><br><br><br><br>
<a href="/func_lectures/18" >Lecture Eighteen </a><br><br><br><br>
<a href="/func_lectures/19" >Lecture Nineteen </a><br><br><br><br>
<a href="/func_lectures/20" >Lecture Twenty </a><br><br><br><br>
<a href="/func_lectures/21" >Lecture Twenty-One </a><br><br><br><br>
<a href="/func_lectures/22" >Lecture Twenty-Two </a><br><br><br><br>
<a href="/func_lectures/23" >Lecture Twenty-Three </a><br><br><br><br>
<a href="/func_lectures/24" >Lecture Twenty-Four </a><br><br><br><br>
