<head>
<style>
body {height:2000px}
#div1 { width:100px; height:150px; background:red; position:absolute; bottom:0; right:0}
</style>  
<script src="/javascripts/lectures/14.js"></script>
</head>
lecture 14

<div id="div1">
  
</div>

        