lecture 04
<script src="/javascripts/lectures/04.js"></script>
<input id="btn1" type="button" value="abc"/><br>
<div id="div6"></div>
<div id="div6"></div>
<div id="div6"></div>
<div id="div6"></div>
