<head>
<style>
</style>  
<script src="/javascripts/lectures/10.js"></script>
</head>
lecture 10<br><br>

<ul id="ul1">
  <li>test1<a href="javascript:;">hide</a></li>
  <li>test2<a href="javascript:;">hide</a></li>
  <li>test3<a href="javascript:;">hide</a></li>
  <li>test4<a href="javascript:;">hide</a></li>
  <li>test5<a href="javascript:;">hide</a></li>
  <li>test6<a href="javascript:;">hide</a></li>
</ul>

<input type="text" id="txt1"/>
<button type="button" id="btn1">Click Me Show Secret</button>

<ul id="ul2">
  <li class="box">course1<a href="javascript:;">hide</a></li>
  <li class="box">course2<a href="javascript:;">hide</a></li>
  <li>course3<a href="javascript:;">hide</a></li>
  <li class="box">course4<a href="javascript:;">hide</a></li>
  <li class="box">course5<a href="javascript:;">hide</a></li>
  <li>course6<a href="javascript:;">hide</a></li>
</ul>