<head>
<style>
#div1 { width: 200px; height: 200px; background:red; position:absolute; top:200px; left:50px}
#div2 { width: 150px; height: 200px; top:450px; left:-150px; background:yellow;position:absolute}
#div2 span { position:absolute; width:20px; height:60px; line-height:20px; background:pink; right: -20px; top:70px}
#div3 { width: 150px; height: 200px; top:200px; left:300px; background:yellow; position:absolute; opacity:0.1;filter:alpha(opacity=10);}
</style>  
<script src="/javascripts/lectures/13.js"></script>
</head>
lecture 13<br><br>


<div id="div1"></div>
<input id="btn1" type="button" value="start action" onclick="startMove()"/><br>

<div id="div2">
  <span>share to</span>
</div>

<div id="div3">
</div>