lecture 04
<script src="/javascripts/lectures/04.js"></script>
<input id="btn1" type="button" value="abc"/><br>
<div id="div6"></div>
<div id="div6"></div>
<div id="div6"></div>
<div id="div6"></div><br><br><br><br><br><br><br><br>

<input id="btn2" type="button" value="all selected"/><br>
<input id="btn3" type="button" value="unselected"/><br>
<input id="btn4" type="button" value="inverse selection"/><br>
<div id="div7">
<input type="checkbox" /><br>
<input type="checkbox" /><br>
<input type="checkbox" /><br>
<input type="checkbox" /><br>
<input type="checkbox" /><br>
<input type="checkbox" /><br>
<input type="checkbox" /><br>
<input type="checkbox" /><br>
<input type="checkbox" /><br>
<input type="checkbox" /><br>
<input type="checkbox" /><br>
<input type="checkbox" /><br>
<input type="checkbox" /><br>
<input type="checkbox" /><br>
<input type="checkbox" /><br>
<input type="checkbox" /><br>
<input type="checkbox" /><br>
<input type="checkbox" /><br>
<input type="checkbox" /><br>
<input type="checkbox" /><br>
</div>