<head>
<style>
</style>  
<script src="/javascripts/lectures/12.js"></script>
</head>
lecture 12<br><br>

name: <input type="text" id ="name1"/><br>
age: <input type="text" id ="age1"/><br>
<input id ="btn1" type="button" value ="add" /><br><br>

Search Name: <input type="text" id ="name2"/><br>
<input id ="btn2" type="button" value ="search" /><br><br>

<input id ="btn3" type="button" value ="reorder" /><br><br>

<table id="tab1" border="1" width="500">
  <thead>
    <td>ID</td>
    <td>name</td>
    <td>age</td>
    <td>action</td>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>blue</td>
      <td>12</td>
      <td></td>
    </tr>
    <tr>
      <td>3</td>
      <td>李四</td>
      <td>14</td>
      <td></td>
    </tr>
    <tr>
      <td>2</td>
      <td>王五</td>
      <td>19</td>
      <td></td>
    </tr>
  </tbody>
</table>