lecture 05
<script src="/javascripts/lectures/05.js"></script>
abadc
<div id="div9">
    <input class="button" type="button" value="A"/>
    <input type="button" value="B"/>
    <input type="button" value="C"/>
    <input type="button" value="D"/>
</div>
