<head>
<style>
#div1 { width: 100px; height: 100px; border: 1px solid black; float:left; margin:10px;}
.box {background: red}
#div2 {width: 100px; height: 100px;}
</style>  
</head>
<body>
lecture 05
<script src="/javascripts/lectures/05.js"></script>

</body>
