<head>
<style>
#div1 { width: 200px; height: 100px; background:#ccc; border: 1px solid #999; display: none;}
#div2 { width: 200px; height: 200px; background:red}
</style>  
<script src="/javascripts/lectures/01.js"></script> 
</head>

Lecture 01
<br><br>
<input type="checkbox" 
       onmouseover="getElementById('div1').style.display='block';" 
       onmouseout="getElementById('div1').style.display='none';"/><br><br><br>
<div id="div1">
    为了您的信息安全
</div>

<h1>A Web Page</h1>

<p id="demo">A Paragraph</p>
<button type="button" onclick="myFunction()">Try it</button>

<button type="submit" onclick="alert('stop it!')">Click on me</button><br><br><br>

<div id="div2" onmouseover="toGreen()" onmouseout="toRed()">
</div>
