<head>
<style>
#div1 { width: 100px; height: 100px; border: 1px solid black}
#div2 { width: 100px; height: 100px; border: 1px solid black}
</style>  
<script src="/javascripts/lectures/03.js"></script>
</head>

lecture 03<br><br>

<button onclick="setColor('green')" type="button">Green</button>
<button onclick="setColor('yellow')" type="button">Yellow</button>
<button onclick="setColor('black')" type="button">Black</button><br><br>
<div id="div1"></div><br>

<button onclick="setStyle('height','400px')" type="button">Change High</button>
<button onclick="setStyle('width','400px')" type="button">Change Width</button>
<button onclick="setStyle('background','green')" type="button">To Green</button><br><br>
<div id="div2"></div>

