<head>
<style>

</style>  
<script src="/javascripts/lectures/10.js"></script>
</head>
lecture 10<br><br>


<ul id="ul1">
  <li>adsafs<a href="javascript:;">hide</a></li>
  <li>adssadfwafs<a href="javascript:;">hide</a></li>
  <li>adsasf234r2fs<a href="javascript:;">hide</a></li>
  <li>12321afs<a href="javascript:;">hide</a></li>
  <li>asgbxcb<a href="javascript:;">hide</a></li>
  <li>adsafsxcer<a href="javascript:;">hide</a></li>
</ul>

<input type="text" id="txt1"/>
<button type="button" id="btn1">Click Me Show Secret</button>

<ul id="ul2">
  <li class="box">adsafs<a href="javascript:;">hide</a></li>
  <li class="box">adssadfwafs<a href="javascript:;">hide</a></li>
  <li>adsasf234r2fs<a href="javascript:;">hide</a></li>
  <li class="box">12321afs<a href="javascript:;">hide</a></li>
  <li class="box">asgbxcb<a href="javascript:;">hide</a></li>
  <li>adsafsxcer<a href="javascript:;">hide</a></li>
</ul>