<head>
<style>
#div1 { width: 100px; height: 100px; border: 1px solid black; float:left; margin:10px;}
#div2 {width: 100px; height: 100px;}
</style>  
<script src="/javascripts/lectures/04.js"></script>
</head>

lecture 04
<input id="btn1" type="button" value="abc"/><br>
<div id="div1"></div>
<div id="div1"></div>
<div id="div1"></div>
<div id="div1"></div><br><br><br><br><br><br><br><br>

<input id="btn2" type="button" value="all selected"/><br><br>
<input id="btn3" type="button" value="unselected"/><br><br>
<input id="btn4" type="button" value="inverse selection"/><br><br>

<div id="div2">
<input type="checkbox" /><br>
<input type="checkbox" /><br>
<input type="checkbox" /><br>
<input type="checkbox" /><br>
<input type="checkbox" /><br>
<input type="checkbox" /><br>
<input type="checkbox" /><br>
<input type="checkbox" /><br>
<input type="checkbox" /><br>
<input type="checkbox" /><br>
<input type="checkbox" /><br>
<input type="checkbox" /><br>
<input type="checkbox" /><br>
<input type="checkbox" /><br>
<input type="checkbox" /><br>
<input type="checkbox" /><br>
<input type="checkbox" /><br>
<input type="checkbox" /><br>
<input type="checkbox" /><br>
<input type="checkbox" /><br>
</div>