<head>
<style>

</style>  
<script src="/javascripts/lectures/06.js"></script>
</head>
lecture 06<br><br>
<input type="text" id="txt1"/><br><br>
<input type="text" id="txt2"/><br><br>
<input type="button" id="btn1" value="sum"/><br><br>


<ul>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>