<head>
<style>
#div1 { width: 100px; height: 200px; background:#ccc; display: none;}
#div2 { width: 100px; height: 100px; border: 1px solid black}
.box {background: red}
</style>  
<script src="/javascripts/lectures/02.js"></script>
</head>

lecture 02<br><br>

<div>
<button type="button" onclick="skin1()">Skin 1</button>
<button type="button" onclick="skin2()">Skin 2</button>
</div><br><hr>

<input type="text" id="text1"/>
<button type="button" onclick="setText()">Click On Me
</button><br><hr>

<button type="button" onclick="showHide()">click to show</button>
<div id="div1">
</div><br><hr>

<button type="button" onclick="toRed()">click to change color</button><br><br>
<div id="div2">
</div><br><hr>

