<head>
<style>
#div1 .active{background: yellow;}
#div1 div {width:200px; height:200px; background:#ccc; border:1px solid rgb(207, 86, 86); display: none;}
</style>  
</head>
<script src="/javascripts/lectures/05.js"></script>
lecture 05

<div id="div1">
  <input class="active" type="button" value="教育"/>
  <input type="button" value="培训" />
  <input type="button" value="招生" />
  <input type="button" value="出国" />
  <div style="display:block">1111</div>
  <div>2222</div>
  <div>3333</div>
  <div>4444</div>
</div>








