Prerequisite Index Page
<p>
  <a href="/func_preps/test" >Test Page for Leetcode Problem </a><br> 
</p>
<p>
<a href="/func_preps/01" >PreCourse One </a><br>
</p>
1.Introduction to Json File<br>
<p>
<a href="/func_preps/02" >PreCourse Two </a><br>
</p>
2.Introduction to Html<br>
  2.1. 标签种类以及样式<br>
<p>
  <a href="/func_preps/03" >PreCourse Three </a><br>
</p>
3. 小技巧<br>
  3.1. 5种常用的JS 的小技巧，让Code更简单<br>
<p>
  <a href="/func_preps/04" >PreCourse Four </a><br>
</p>
4. Data Type 内置对象<br>