<h1>这是标题 1</h1>
<h2>这是标题 2</h2>
<h3>这是标题 3</h3>
<h4>这是标题 4</h4>
<h5>这是标题 5</h5>
<h6>这是标题 6</h6>
<h1 align="center">This is heading 1</h1>
<p>This is some text in a very short paragraph</p>
<p align="right">This is some text in a very short paragraph</p>
<p>
To break<br />lines<br />in a<br />paragraph,<br />use the br tag.
</p>
<h1>This is header 1</h1>
<hr>

<hr size="50" />
<hr width="50%" />
The <abbr title="People's Republic of China">PRC</abbr> was founded in 1949.
<address>
Written by <a href="mailto:webmaster@example.com">Donald Duck</a>.<br> 
Visit us at:<br>
Example.com<br>
Box 564, Disneyland<br>
USA
</address>
<bdo dir="rtl">
Here is some Hebrew text
</bdo>
<blockquote>
This is a long quotation. This is a long quotation. This is a long quotation. This is a long quotation. This is a long quotation.
</blockquote>