<head>
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        h1:hover {
            color: red;
        }
        h1{
            position: absolute;
            top: 0px; left: 0px;
            transition: color 5s;
        }

        h1.blue {
            color: blue;
        }
        h1.down{
            top : 100px;
        }
        #h1click {
            position: absolute;
            top: 20px;left:200px;
        }
        
    </style>  
    <script src="/javascripts/preps/03.js"></script>
</head>
<h1 id="title">David Chen</h1>

<input type="text" name="" id="Name">
<button id="submit">Submit</button>
<button id="h1click">Click</button>