{{#extend "stylesheets"}}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/2cartoonanimation/2CoverFlipping/style.css">
{{/extend}}
<body class="middle">
  <div class="wrap">
    <div class="front middle">
      <h2>Learn More</h2>
      <h3>hover me</h3>
    </div>
    <div class="back middle">
      <h2>VincentTV</h2>
      <div class="contact-info">
        <a href="#"><i class="fab fa-weibo"></i></a>
        <a href="#"><i class="fab fa-weixin"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
  </div>
  <br>
  <div class="wrap2">
    <div class="front2 middle">
      <h2>Learn More</h2>
      <h3>hover me</h3>
    </div>
    <div class="back2 middle">
      <h2>VincentTV</h2>
      <div class="contact-info2">
        <a href="#"><i class="fab fa-weibo"></i></a>
        <a href="#"><i class="fab fa-weixin"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
  </div>
  <br>
  <div class="wrap3">
    <div class="front3 middle">
      <h2>Learn More</h2>
      <h3>hover me</h3>
    </div>
    <div class="back3 middle">
      <h2>VincentTV</h2>
      <div class="contact-info3">
        <a href="#"><i class="fab fa-weibo"></i></a>
        <a href="#"><i class="fab fa-weixin"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
  </div>
</body>
</html>