<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/react-dom.development.js'></script>
    <script src='/react.development.js'></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    Before test.
    <br>
    <%- body%>
    <br>
    After
  </body>
</html>
