<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="data:,">
    <script src="/javascripts/react.development.js" crossorigin></script>
    <script src="/javascripts/react-dom.development.js" crossorigin></script>
    <script src="/javascripts/babel.js"></script>
  </head>
  <header>
    <%- include('../partials/header') %>
  </header>
  <body>
    Before
    <br>
    <%- body%>
    <br>
    After
  </body>
  <footer>
    <%- include('../partials/footer') %>
  </footer>
</html>
