
<h1>Demo by {{author}}</h1>
<p>{{author}}: welcome to homepage, I'm handsome!</p>

<a href="/functions/block">Block Example for Stylesheets and Scripts(Javascripts)</a>
<hr>
<a href="/functions/partials">Partials Examples</a>
<hr>
<a href="/functions/javascript">Javascripts Examples</a>