<img id="t2" src="/images/2.jpg" />
<img id="t3" src="/images/3.jpg"  />
<img id="t4" src="/images/4.jpg"  />
<img id="t5" src="/images/5.jpg"  />
<img id="t6" src="/images/6.jpg"  />
<img id="t7" src="/images/7.jpg"  />
<img id="t8" src="/images/8.jpg"  />
<img id="t9" src="/images/9.jpg"  />
<img id="t1" src="/images/2.jpg"  />
<div class="stage-area">
    <div class="container">
        <a href="#t1"><img src="/images/1.jpg"  /></a>
        <a href="#t2"><img src="/images/2.jpg"  /></a>
        <a href="#t3"><img src="/images/3.jpg"  /></a>
        <a href="#t4"><img src="/images/4.jpg"  /></a>
        <a href="#t5"><img src="/images/5.jpg"  /></a>
        <a href="#t6"><img src="/images/6.jpg"  /></a>
        <a href="#t7"><img src="/images/7.jpg"  /></a>
        <a href="#t8"><img src="/images/8.jpg"  /></a>
        <a href="#t9"><img src="/images/9.jpg"  /></a>
    </div>
</div>
