<div id="app"></div>


<script type="text/babel">
  const appContainer = document.getElementById('app');
  ReactDOM.render(
    <a href="https://www.google.com">Hello World!</a>,
    appContainer
  )
</script>