<h1>Demo by {{author}}</h1>
<p>{{author}}: welcome to Java Cartoonanimation!</p>

<a href="/javaphotoanimation/javascriptsbackgroundexample">Javascripts Background Example</a>
<hr>
<a href="/javaphotoanimation/2slideroatate">3D图片切片滑块旋转动画DEMO演示</a>
<hr>
<a href="/javaphotoanimation/3foldanimation">3D图片折叠特效</a>
<hr>
<a href="/javaphotoanimation/4albumnavigation">相册图标导航</a>
<hr>
<a href="/javaphotoanimation/5">Javascripts Examples 5</a>
<hr>
<a href="/javaphotoanimation/6">Javascripts Examples 6</a>
<hr>
<a href="/javaphotoanimation/7">Javascripts Examples 7</a>
<hr>
<a href="/javaphotoanimation/8">Javascripts Examples 8</a>
