<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="data:,">
    <link rel='stylesheet' id='l1' href='/stylesheets/style.css' />
  </head>
  <header>

  </header>
  <body>

    <br>
    <%- body%>
    <br>

  </body>
  <footer>

  </footer>
</html>
