<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' id='l1' href='/stylesheets/style.css' />
  </head>
  <header>
    <%- include('../partials/header') %>
  </header>
  <body>
    Before
    <br><hr>
    <%- body%>
    <br><hr>
    After
  </body>
  <footer>
    <%- include('../partials/footer') %>
  </footer>
</html>
