<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.username %></p>
<p class="lead mb-3">From  <%= user.type %></p>
<a href="/<%= user.type %>s/<%= user.username %>" class="btn btn-secondary">Detail Info</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>

<br><br>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#home" data-toggle="tab">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#aboutus" data-toggle="tab">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#contactus" data-toggle="tab">Contact Us</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#contactus2" data-toggle="tab">Contact Us2</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#contactus3" data-toggle="tab">Contact Us3</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#contactus4" data-toggle="tab">Contact Us4</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#contactus5" data-toggle="tab">Contact Us5</a>
    </li>

  </ul>

  <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">1</div>
      <div role="tabpanel" class="tab-pane" id="aboutus">2</div>
      <div role="tabpanel" class="tab-pane" id="contactus">3</div>
      <div role="tabpanel" class="tab-pane" id="contactus2">4</div>
      <div role="tabpanel" class="tab-pane" id="contactus3">5</div>
      <div role="tabpanel" class="tab-pane" id="contactus4">6</div>
      <div role="tabpanel" class="tab-pane" id="contactus5">7</div>
  </div>

  <script> document.title = 'User Dashboard' </script>