body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#div1 { width: 200px; height: 100px; background:#ccc; border: 1px solid #999; display: none;}
#div2 { width: 200px; height: 200px; background:red}
#div3 { width: 100px; height: 200px; background:#ccc; display: none;}
#div4 { width: 100px; height: 100px; border: 1px solid black}
#div5 { width: 100px; height: 100px; border: 1px solid black}
#div6 { width: 100px; height: 100px; border: 1px solid black; float:left; margin:10px;}

.box {background: red}