body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#div1 { width: 200px; height: 100px; background:#ccc; border: 1px solid #999; display: none;}
#div2 { width: 200px; height: 200px; background:red}