{{#extend "stylesheets"}}
<link rel="stylesheet" href="/stylesheets/2cartoonanimation/13Dcubeanimation-2/cube2.css"/>
{{/extend}}
<body>
<div class="wrap"><h1>I am header</h1></div>
<div class="wrap">
<div class="cube 1">
    <div class="side cube-front">
    <h2>Front</h2>
    <p>If you smile upon the wrold, it will smile upon you.</p>
    </div>
    <div class="side cube-back">
    <h2>Back</h2>
    <p>If you smile upon the wrold, it will smile upon you.</p>
    </div>
    <div class="side cube-right">
    <h2>Right</h2>
    <p>If you smile upon the wrold, it will smile upon you.</p>
    </div>
    <div class="side cube-left">
    <h2>Left</h2>
    <p>If you smile upon the wrold, it will smile upon you.</p>
    </div>
    <div class="side cube-top">
    <h2>Top</h2>
    <p>If you smile upon the wrold, it will smile upon you.</p>
    </div>
    <div class="side cube-bottom">
    <h2>Bottom</h2>
    <p>If you smile upon the wrold, it will smile upon you.</p>
    </div>
</div>
{{!-- <div class="cube cube2">
    <div class="side cube-front">
    <h2>Front</h2>
    <p>If you smile upon the wrold, it will smile upon you.</p>
    </div>
    <div class="side cube-right">
    <h2>Right</h2>
    <p>If you smile upon the wrold, it will smile upon you.</p>
    </div>
    <div class="side cube-top">
    <h2>Top</h2>
    <p>If you smile upon the wrold, it will smile upon you.</p>
    </div>
</div>
<div class="cube cube3">
    <div class="side cube-front">
    <h2>Front</h2>
    <p>If you smile upon the wrold, it will smile upon you.</p>
    </div>
    <div class="side cube-right">
    <h2>Right</h2>
    <p>If you smile upon the wrold, it will smile upon you.</p>
    </div>
    <div class="side cube-top">
    <h2>Top</h2>
    <p>If you smile upon the wrold, it will smile upon you.</p>
    </div>
</div> --}}
</div>
<div class="wrap"><h1>I am footer</h1></div>
