<h1>Demo by {{author}}</h1>
<p>{{author}}: welcome to Java Photoanimation!</p>

<a href="/1.2CA/javascriptsbackgroundexample">Javascripts Background Example</a>
<hr>
<a href="/1.2CA/23Dcubeanimation-1">3D 方块旋转DEMO演示-1</a>
<hr>
<a href="/1.2CA/33Dcubeanimation-2">3D 方块旋转DEMO演示-2</a>
<hr>