<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    Before test
    <br>
    <%- body%>
    <br>
    After test for hero page
  </body>
</html>
