Welcome to Javascript Class<br><br><br>
<a href="/func_preps/test" >Test Page for Leetcode Problem </a><br>
<p>
<a href="/func_preps/01" >PreCourse One </a><br>
<p>
    1.Introduction to Json File<br>
</p>
<a href="/func_letctures/01" >Lecture One</a><br>
<p>
1.Show block of information under checkbox, and change the style <br>、
    当鼠标接近时显示提示框<br>
    onmouseover, onmouseout<br>
2. Show alter msg and onclick function<br>
    当鼠标按下按钮是提示信息
    alter, onclick<br>
</p>
<a href="func_letctures/02" >Lecture Two</a><br>
<p>
    1.Change background style <br>
        按下按钮改变背景样式<br>
        onclick<br>
    2. Show msg when click<br>
        按下按钮在填写框浮现字体<br>
        onclick<br>
    3. Show block when click and click one more time to hide<br>
        3.1 按下按钮显示隐藏div<br>
        3.2 按下按钮改变选框颜色<br>
        if statements<br>
</p>
<a href="func_letctures/03" >Lecture Three </a><br>
<p>
    1. Combine Function by set change variables<br>
    onclick<br>
</p>
<a href="func_letctures/04" >Lecture Four </a><br>
<p>
    1. Hide the onclick function in javascript<br>
        使用循环一次在多个选框中执行动作<br>
        onclick and write onclick function in javascript not in html script<br>
    2. Select multiple Elements and performed same actions<br>
        使用功能一次性选个多个，打勾，取消，反选<br>
        document.getElementById, document.getElementsByTagName, document can be refer in any class-id<br>
</p>
<a href="func_letctures/05" >Lecture Five </a><br>
<a href="func_letctures/06" >Lecture Six </a><br>
<a href="func_letctures/07" >Lecture Seven </a><br>
<a href="func_letctures/08" >Lecture Eight </a><br>
<a href="func_letctures/09" >Lecture Nice </a><br>
<a href="func_letctures/10" >Lecture Ten </a><br>