Welcome to Javascript Class<br><br><br>

<a href="/func_preps/01" >PreCourse One </a><br>
<p>
    1.Introduction to Json File<br>
</p>
<a href="/func_letctures/01" >Lecture One</a><br>
<p>
1.Show block of information under checkbox, and change the style <br>
    onmouseover, onmouseout<br>
2. Show alter msg and onclick function<br>
    alter, onclick<br>
</p>
<a href="func_letctures/02" >Lecture Two</a><br>
<p>
    1.Change background style <br>
        onclick<br>
    2. Show msg when click<br>
        onclick<br>
    3. Show block when click and click one more time to hide<br>
        if statements<br>
</p>
<a href="func_letctures/03" >Lecture Three </a><br>
<p>
    1.Combine Function by set change variables<br>
    onclick<br>
</p>
<a href="func_letctures/04" >Lecture Four </a><br>

<a href="/functions/05" >Lecture Five </a><br>
<a href="/functions/06" >Lecture Six </a><br>
<a href="/functions/07" >Lecture Seven </a><br>
<a href="/functions/08" >Lecture Eight </a><br>