<a href="/functions/01" >Lecture One</a><br>
<p>
1.Show block of information under checkbox, and change the style <br>
    onmouseover, onmouseout<br>
2. Show alter msg and onclick function<br>
    alter, onclick<br>
</p>
<a href="/functions/02" >Lecture Two</a><br>
<p>
    1.Change background style <br>
        onclick<br>
    2. Show msg when click<br>
        onclick<br>
    3 If Statement<br>
    
</p>
<a href="/functions/03" >Lecture Three</a><br>
<a href="/functions/01" >Lecture One</a><br>
<a href="/functions/01" >Lecture One</a><br>
<a href="/functions/01" >Lecture One</a><br>
<a href="/functions/01" >Lecture One</a><br>
<a href="/functions/01" >Lecture One</a><br>