lecture 04<br><br>
<script src="/javascripts/lectures/04.js"></script>

<input id="btn1" type="button" value="abc"/><br><hr>

<div id="div7"></div>
<div id="div7"></div>
<div id="div7"></div>
<div id="div7"></div>
