lecture 03<br><br>
<script src="/javascripts/lectures/03.js"></script>

<button type="button" onclick="setColor('green')">Green</button>
<button type="button" onclick="setColor('yellow')">Yellow</button>
<button type="button" onclick="setColor('black')">Black</button>
<div id="div4"></div><br><br>

<button type="button" onclick="setStyle('height','400px')">Change High</button>
<button type="button" onclick="setStyle('width','400px')">Change Width</button>
<button type="button" onclick="setStyle('background','green')">To Green</button>
<div id="div5"></div>