lecture 02<br><br>
<script src="/javascripts/lectures/02.js"></script>
<div>
<button type="button" onclick="skin1()">Skin 1</button>
<button type="button" onclick="skin2()">Skin 2</button>
</div><br><hr>

<input type="text" id="text1"/>
<button type="button" onclick="setText()">Click On Me
</button><br><hr>

<button type="button" onclick="showHide()">click to show</button>
<div id="div3">
</div><br><hr>

<button type="button" onclick="toRed()">click to change color</button><br><br>
<div id="div4">
</div><br><hr>


