lecture 02<br><br>

<div>
<button type="button" onclick="skin1()">Skin 1</button>
<button type="button" onclick="skin2()">Skin 2</button>
</div>
<br><hr>

<input type="text" id="text1"/>
<button type="button" onclick="setText()">Click On Me</button>
<br><hr>


<button type="button" >click to show</button>
<div id="div3">

</div>


<script src="/javascripts/lectures/02.js"></script>