{{#extend "stylesheets"}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/javascripts/kickstart/kickstart.js"></script> <!-- KICKSTART -->
<link rel="stylesheet" href="/stylesheets/kickstart/kickstart.css"/>
{{/extend}}
<div class="grid">
<div class="col_12">
	<div class="col_9">
	<h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    Use Reference Javascript From main.js
    check the console.log for more detail...
	</div>
	<div class="col_3">
    <button>Button</button>
    <a class="button" href="">A.button</a>
    <button class="small">Small</button>
    <button class="small" disabled="disabled">Small (disabled)</button>
    <button class="medium">Medium</button>
    <button class="large">Large</button>
	</div>
	<hr />
	<p id="demo"></p>
</div>
{{#extend "scripts"}}
{{!-- <script src="/javascripts/main.js"></script> --}}
<script src="/javascripts/main2.js"></script>
{{!-- <script src="/javascripts/main3.js"></script> --}}
{{/extend}}
