{{#extend "stylesheets"}}
<title>HTML5 3D图片切片滑块旋转动画DEMO演示</title>
<link rel="stylesheet" href="/stylesheets/1photoanimation/2slideroast/normalize.css"/>
<link rel="stylesheet" href="/stylesheets/1photoanimation/2slideroast/style.css"/>
{{/extend}}
{{!--code directory in file /pulibc/stylesheets/2slideroate/style.css -7
                            background-image: url(/images/2sliderotate/background.jpg); 
     picture directory in file /pulibc/images/2sliderotate/background.jpg
     code directory in file /pulibc/stylesheets/2slideroate/style.css -38
                            background: url(/images/sliderotate/1.jpg) -115px -900px;
     picture directory in file /pulibc/images/2sliderotate/1.jpg
--}}
<ul id="level0" class='cube'>
<li class='face'></li>
<li class='face'></li>
<li class='face'></li>
<li class='face'></li>
</ul>
<ul id="level1" class='cube'>
<li class='face'></li>
<li class='face'></li>
<li class='face'></li>
<li class='face'></li>
</ul>
<ul id="level2" class='cube'>
<li class='face'></li>
<li class='face'></li>
<li class='face'></li>
<li class='face'></li>
</ul>
<ul id="level3" class='cube'>
<li class='face'></li>
<li class='face'></li>
<li class='face'></li>
<li class='face'></li>
</ul>
<ul id="level4" class='cube'>
<li class='face'></li>
<li class='face'></li>
<li class='face'></li>
<li class='face'></li>
</ul>
<ul id="level5" class='cube'>
<li class='face'></li>
<li class='face'></li>
<li class='face'></li>
<li class='face'></li>
</ul>
<ul id="level6" class='cube'>
<li class='face'></li>
<li class='face'></li>
<li class='face'></li>
<li class='face'></li>
</ul>
<ul id="level7" class='cube'>
<li class='face'></li>
<li class='face'></li>
<li class='face'></li>
<li class='face'></li>
</ul>
<ul id="level8" class='cube'>
<li class='face'></li>
<li class='face'></li>
<li class='face'></li>
<li class='face'></li>
</ul>
<ul id="level9" class='cube'>
<li class='face'></li>
<li class='face'></li>
<li class='face'></li>
<li class='face'></li>
</ul>
<ul id="level10" class='cube'>
<li class='face'></li>
<li class='face'></li>
<li class='face'></li>
<li class='face'></li>
</ul>
<ul id="level11" class='cube'>
<li class='face'></li>
<li class='face'></li>
<li class='face'></li>
<li class='face'></li>
</ul>
<ul id="level12" class='cube'>
<li class='face'></li>
<li class='face'></li>
<li class='face'></li>
<li class='face'></li>
</ul>

{{#extend "scripts"}}
<script src="/javascripts/1photoanimation/2sliderotate/prefixfree.min.js"></script>
<script src='/javascripts/1photoanimation/2sliderotate/jquery.js'></script>
<script src='/javascripts/1photoanimation/2sliderotate/TweenMax.min.js'></script>
<script src="/javascripts/1photoanimation/2sliderotate/index.js"></script>
{{/extend}}




