<h1>Demo by {{author}}</h1>
<p>{{author}}: welcome to Java Photoanimation!</p>

<a href="/1.1PA/javascriptsbackgroundexample">Javascripts Background Example</a>
<hr>
<a href="/1.1PA/2slideroatate">3D图片切片滑块旋转动画DEMO演示</a>
<hr>