body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*{margin:0;padding:0;}
		.img{width:1002px;height:500px;border:0;}
		.container{margin:0 auto;padding:0;width:1002px;height:500px;}
		.content01{margin:100px auto;width:1002px;height:500px;background:whitesmoke;}
		.content02{width:1002px;height:30px;position:absolute;top:570px;background:#A7C942;}
		.ul{margin:0;padding:0;}
		.ul li{width:167px;height:30px;float:left;list-style:none;text-align:center;line-height:30px;}