<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
        <h1 class="text-center mb-3">
            <i class="fas fa-user-plus"></i> Register New Author
            </h1>
            <form action="/authors" method="post">
                <%-include('_form_fields')%>
                <a href="/authors"> Go Back To Author Page</a>
                <button type="submit">Create New Author</button>
            </form>
        </h1>
        </div>
    </div>
</div>




<script> document.title = 'Author Register Pages' </script>