user test page
    <%- include('_1') %><br>


<a href="/functions/01" >Lecture One</a><br>
<a href="/functions/01" >Lecture One</a><br>
<a href="/functions/01" >Lecture One</a><br>
<a href="/functions/01" >Lecture One</a><br>
<a href="/functions/01" >Lecture One</a><br>
<a href="/functions/01" >Lecture One</a><br>
<a href="/functions/01" >Lecture One</a><br>
<a href="/functions/01" >Lecture One</a><br>