{{#extend "stylesheets"}}
<link rel="stylesheet" href="/stylesheets/1photoanimation/3foldanimation/normalize.css"/>
<link rel="stylesheet" href="/stylesheets/1photoanimation/3foldanimation/style.css"/>
{{/extend}}



<div id="gallery">
  <img src="/images/1photoanimation/3foldanimation/1.jpg" alt="Test Picture-1" />
  <img src="/images/1photoanimation/3foldanimation/2.jpg" alt="Test Picture-2" />
  <img src="/images/1photoanimation/3foldanimation/3.jpg" alt="Test Picture-3" />
</div>
<div style="text-align:center;clear:both;">



{{#extend "scripts"}}
<script src="/javascripts/1photoanimation/3foldanimation/index.js"></script>
<script src="/javascripts/1photoanimation/3foldanimation/prefixfree.min.js"></script>
{{/extend}}